:root {
  --sidebar-color: #083344;
  --header-color: #155e75;
  --content-color: #a5f3fc;
  --sidebar-text-color: rgba(255, 255, 255, 0.75);
  --search-box-color: rgba(255, 255, 255, 0.75);
  --header-button-color: #083344;
  --card-background-color: #67e8f9;
  --card-left-color: #155e75;
}

* {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: auto;
  height: 2rem;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: minmax(repeat(5, 1fr), auto);
  grid-template-areas:
    "sb hd hd hd"
    "sb ct ct ct"
    "sb ct ct ct"
    "sb ct ct ct"
    "sb ct ct ct";
}

#sidebar {
  background-color: var(--sidebar-color);
  grid-area: sb;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas:
    "sb-top"
    "sb-center"
    "sb-center"
    "sb-center"
    "sb-bottom"
    "sb-bottom"
    "sb-bottom"
    "sb-bottom"
    "sb-bottom";
}

#sidebar button,
#header-top-right > button {
  height: auto;
  width: auto;
  background: none;
  border: none;
  color: var(--sidebar-text-color);
  font-size: 18px;
  font-weight: 600;
}

#sidebar-top button {
  font-size: 22px;
}

#sidebar > div > div {
  display: flex;
  align-items: center;
}

#sidebar-top,
#sidebar-center,
#sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

#sidebar-top {
  grid-area: sb-top;
}

#sidebar-center {
  grid-area: sb-center;
}

#sidebar-bottom {
  grid-area: sb-bottom;
  justify-content: flex-start;
  height: fit-content;
  margin-top: 40px;
}

#sidebar-bottom > div {
  padding-top: 15px;
}

#header {
  background-color: var(--header-color);
  grid-area: hd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "hd-top"
    "hd-bottom";
}

#header-top {
  display: flex;
  justify-content: space-between;
}

#header-top-left,
#header-top-right {
  display: flex;
  align-items: center;
  min-width: 200px;
  width: 25%;
  margin-left: 30px;
}

#header-top-left > *,
#header-top-right > * {
  margin-right: 25px;
}

#header-top-left > input {
  width: 400px;
  background-color: var(--search-box-color);
  border: none;
  border-radius: 10px;
  height: 25px;
  padding: 10px;
  font-size: 1rem;
}

#header-top-right > button {
  color: var(--sidebar-text-color);
}

#header-bottom {
  display: flex;
}

#header-bottom-left {
  display: flex;
  align-items: center;
}

#header-bottom-left img {
  width: 120px;
  height: 50px;
}

#header-bottom-left > div {
  display: flex;
  flex-direction: column;
  height: auto;
}

#header-bottom-left span:first-child {
  font-size: 0.8rem;
  height: auto;
  color: var(--);
}

#header-bottom-left span:nth-child(2) {
  font-weight: bold;
  height: auto;
}

#header-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-bottom-right button {
  width: 80px;
  height: 30px;
  background-color: var(--header-button-color);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 0.8rem;
  margin-right: 8%;
}

#content {
  background-color: var(--content-color);
  grid-area: ct;
  display: grid;
  grid-template-columns: repeat(2, 1.5fr) 1.2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "project project extras"
    "project project extras"
    "project project extras";
}

#project {
  grid-area: project;
  display: grid;
  grid-template-rows: 10% 90%;
}

h3{
  margin-left: 20px;
  font-size: 25px;  
}

h4{
  margin: 10px 0;
  font-size: 1.2rem;
}

h3,
h4 {
  height: fit-content;
  padding-left: 20px;
}

#card-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 10px 40px;
}

.card {
  min-width: 30%;
  max-width: 400px;
  background-color: var(--card-background-color);
  display: grid;
  grid-template-columns: 3% 97%;
  border-radius: 15px;
}

.card-left {
  background-color: var(--card-left-color);
  border-radius: 15px 0 0 15px;
}

.card-right{
  display: grid;
}

p{
  height: fit-content;
  font-size: 1.0rem;
  padding: 0 15px;
}

.card-buttons{
  display: flex;
  justify-content: flex-end;
}

.card-buttons img{
  margin: 0 10px;
}

#extras {
  background-color: yellow;
  grid-area: extras;
}
